* {
  box-sizing: border-box;
}

body, img {
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../assets/img_7953.jpg);
  background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header hr {
  margin: 30px auto;
}

header .name {
  font-size: 100px;
}

header .title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: white;
}

header .btn-github {
  font-size: 50px;
  color: #9E1F63;
}

header .btn-twitter {
  font-size: 50px;
  color: #9E1F63;
}

header .btn-linkedin {
  font-size: 50px;
  color: #9E1F63;
}

header i:hover {
  color: #C97B84;
}
