*{
    box-sizing: border-box;
    //border: 1px dashed red;
}
// img {
//     width: 100%;
// }

.light {
    border-color: #fff;
}
  .navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #CC4E5C;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: white;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #3E3E3E;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: white;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #531253;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #531253!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../assets/IMG_7953.jpg);
    background-size: cover;
   min-height: auto;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   height: 600px;
    .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }
    .header-content-inner h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
    }
    hr {
       margin: 30px auto;
   }
   .whiteT {
     color: white;
   }
   .name {
     font-size: 100px;
   }
   .title {
      margin-bottom: 50px;
      font-size: 24px;
      font-weight: 300;
      color: white;
  }
  .btn-github{
    font-size: 50px;
    color: #9E1F63;
  }
  .btn-twitter{
    font-size: 50px;
    color: #9E1F63;
  }
  .btn-linkedin{
    font-size: 50px;
    color: #9E1F63;
  }
   i:hover{
    color: #C97B84;
  }
}

.bio {
  background-color: #CC4E5C;
  .profile-pic img{
    height: 50%;
    width: 50%;
    //border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .bioName {
    font-size: 20px;
    color: white;
  }
  .bioP {
    font-size: 16px;
    color: white;
  }
}
.portfolioH {
    background-color: #33032F;
    color: white;
}
.portfolio1 {
  background-color: #33032F;
  color: white;
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .projectTitle {
    font-size: 20px;
  }
}
.portfolioG {
  background-color: #33032F;
  color: white;
}

footer {
  height: 300px;
}
